<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('社員情報更新')"></head>
<body>
	<div th:replace="replace::header"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div th:replace="replace::pageTitle('社員情報更新')"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-10">
				<div class="row">
					<div class="col-md-3 col-xs-1"></div>
					<div class="col-md-6 col-xs-10">
						<form th:action="@{/employeeUpdate}" th:object="${employeeUpdateData}" method="post">
							<div th:inline="text" th:each="employee: ${employeeData}" th:object="${employee}">
								<div th:replace="replace::loginForm"></div>
								<div class="row">
									<div th:if="${nameCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('名前を入力してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">名前</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<input type="text" name="name" th:value="*{name}" placeholder="名前">
									</div>
									<div th:if="${nameRubyCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('読みは全角カナで入力してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">読み(全角カナ)</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<input type="text" name="nameRuby" th:value="*{nameRuby}" placeholder="ナマエ">
									</div>
									<div th:if="${ageCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('年齢を入力してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">年齢</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<select name="age"><option th:replace="replace::selectAge"></option></select>
									</div>
									<div th:if="${departmentCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('所属部署を選択してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">所属部署</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<span th:replace="replace::selectDepartment"></span>
									</div>
									<div th:if="${positionCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('役職を選択してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">役職</div>
									<div class="col-md-6 col-xs-12 text-right mt-1 mb-4">
										<span th:replace="replace::selectPosition"></span>
									</div>
									<div th:if="${loginIdCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('ログインIDを入力してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">新しいログインID</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<input type="text" name="newLoginId" placeholder="ログインID">
									</div>
									<div th:if="${passNullCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('パスワードを両方入力してください。')"></div>
									</div>
									<div th:if="${passwordCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('パスワードは同じものを入力してください。')"></div>
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">新しいパスワード</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<input type="password" name="newPass1" placeholder="パスワード">
									</div>
									<div class="col-md-6 col-xs-12 text-left my-1">新しいパスワード(確認)</div>
									<div class="col-md-6 col-xs-12 text-right my-1">
										<input type="password" name="newPass2" placeholder="パスワード">
									</div>
								</div>
								<input type="hidden" name="employeeId" th:value="*{id}">
								<div class="col-12"><input class="btn btn-primary shadow my-4" type="submit" value="更新"></div>
								<a th:href="@{/employeeDetail(employeeId=*{id})}"><input class="btn btn-secondary shadow mb-5" type="button" value="戻る"></a>
							</div>
						</form>
					</div>
					<div class="col-md-3 col-xs-1"></div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>
	</div>
</body>
</html>