<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('社員一覧')"></head>
<body>
	<div th:replace="replace::header"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div th:replace="replace::pageTitle('社員一覧')"></div>
			</div>
			<div class="col-md-3 col-xs-1"></div>
			<div class="col-md-6 col-xs-10">
				<form th:action="@{/employeeListRefine}" method="post">
					<div class="row">
						<div class="col-12 h3">絞り込み</div>
						<div th:if="${nameCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('名前を全角カナで入力してください。')"></div>
						</div>
						<div class="col-md-3 col-xs-12 text-left my-1">名前(全角カナ)</div>
						<div class="col-md-9 col-xs-12 text-right my-1">
							<input type="text" id="name" name="refineName" placeholder="絞り込む名前">
						</div>
						<div th:if="${ageCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('年齢の範囲を正しく入力してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">年齢(半角数字)</div>
						<div class="col-md-6 col-xs-12 text-right my-1">
							<select id="ageMin" name="refineAgeMin"><option th:replace="replace::selectAge"></select>
							<span class="mx-4">〜</span>
							<select id="ageMax" name="refineAgeMax"><option th:replace="replace::selectAge"></select>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">所属部署</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><span th:replace="replace::selectDepartment"></span></div>
						<div class="col-md-6 col-xs-12 text-left my-1">役職</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><span th:replace="replace::selectPosition"></span></div>
						<div class="col-12 my-4"><input class="btn btn-primary shadow" type="submit" value="絞り込む"></div>
					</div>
				</form>
			</div>
			<div class="col-md-3 col-xs-1"></div>
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>氏名</th><th>読み</th><th>年齢</th><th>所属部署</th><th>役職</th><th>入社日時</th><th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:inline="text" th:each="employee: ${employeeList}" th:object="${employee}">
							<td>[[*{name}]]</td>
							<td>[[*{nameRuby}]]</td>
							<td>[[*{age}]]歳</td>
							<td>[[*{department}]]</td>
							<td>[[*{position}]]</td>
							<td>[[*{#calendars.format(joinDate, 'yyyy年M月d日 k時m分s秒')}]]</td>
							<td>
								<a th:href="@{/employeeDetail(employeeId=*{id})}">
									<input class="btn btn-success btn-sm shadow w-100" type="button" value="詳細">
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div th:if="${noEmployee == true}">
					<div class="h5">該当する社員は見つかりませんでした。</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12"><a th:href="@{/index}"><input class="btn btn-secondary shadow my-5" type="button" value="戻る"></a></div>
		</div>
	</div>
	<script th:inline="javascript">
		window.onload = employeeRefine([[${name}]], [[${ageMin}]], [[${ageMax}]], [[${department}]], [[${position}]]);
	</script>
</body>
</html>