<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('商品詳細')"></head>
<body>
	<div th:replace="replace::header"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div th:replace="replace::pageTitle('商品詳細')"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-10">
				<div th:inline="text" th:each="product: ${productDetail}" th:object="${product}">
					<div class="row">
						<div class="col-md-3 col-xs-1"></div>
						<div class="col-md-6 col-xs-10">
							<div class="row">
								<div class="col-md-2 col-xs-12 text-left my-1 border-bottom">商品名</div>
								<div class="col-md-10 col-xs-12 text-right my-1 border-bottom">[[*{name}]]</div>
								<div class="col-md-6 col-xs-12 text-left my-1 border-bottom">在庫数</div>
								<div class="col-md-6 col-xs-12 text-right my-1 border-bottom">[[*{quantity}]]個</div>
								<div class="col-md-6 col-xs-12 text-left my-1 border-bottom">管理場所</div>
								<div class="col-md-6 col-xs-12 text-right my-1 border-bottom">[[*{place}]]</div>
								<div class="col-12">
									<div class="h4 my-4">商品入出荷</div>
									<form th:action="@{/transport}" method="post">
										<input type="hidden" name="stock" th:value="*{quantity}">
										<input type="hidden" name="productId" th:value="*{id}">
										<div th:if="${quantityCheck == true}" class="col-12 mt-4">
											<div th:replace="replace::entryErr('個数を半角数字で入力してください。')"></div>
										</div>
										<div class="row">
											<div class="col-md-6 col-xs-12 text-left my-1">個数(半角数字で記入)</div>
											<div class="col-md-6 col-xs-12 text-right my-1">
												<input type="text" name="strQuantity" size="8" placeholder="個数">個
											</div>
										</div>
										<div th:if="${rOrSCheck == true}" class="col-12 mt-4">
											<div th:replace="replace::entryErr('入出荷を選択してください。')"></div>
										</div>
										<div class="btn-group my-4" data-toggle="buttons">
											<label class="btn btn-outline-secondary shadow active py-2 radioBtnCursor">
												<input class="hideRadio" type="radio" name="rOrS" value="未選択" checked>未選択
											</label>
											<label class="btn btn-outline-info shadow mx-4 py-2 radioBtnCursor">
												<input class="hideRadio" type="radio" name="rOrS" value="入荷">入荷
											</label>
											<label class="btn btn-outline-warning shadow py-2 radioBtnCursor">
												<input class="hideRadio" type="radio" name="rOrS" value="出荷">出荷
											</label>
										</div>
										<div class="col-12">
											<input class="btn btn-primary shadow" type="submit" value="決定">
											<br>
											<div th:if="${isAdmin == true}">
												<a th:href="@{/productUpdate(productId=*{id})}">
													<input class="btn btn-info shadow my-4" type="button" value="情報を書き換える">
												</a>
												<div th:if="*{quantity == 0}">
													<a th:href="@{/productDelete(productId=*{id})}">
														<input class="btn btn-danger shadow my-4" type="button" value="商品を削除する">
													</a>
												</div>
												<br>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-1"></div>
					</div>
				</div>
				<div class="col-12 h4 my-4">商品入出荷情報</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>日時</th><th>担当者</th><th>入出荷</th><th>個数</th>
						</tr>
					</thead>
					<tbody>
						<tr th:inline="text" th:each="transport: ${productTransport}" th:object="${transport}">
							<td>[[*{#calendars.format(transportDate, 'yyyy年M月d日 k時m分s秒')}]]</td>
							<td>[[*{employeeName}]]</td>
							<td>[[*{rOrS}]]</td>
							<td>[[*{quantity}]]個</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-1"></div>
			<div class="col-12"><a th:href="@{/productList}"><input class="btn btn-secondary shadow my-5" type="button" value="戻る"></a></div>
		</div>
	</div>
</body>
</html>