<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('連絡事項')"></head>
<body onload="tableNoConfirmTextRed()">
	<div th:replace="replace::header"></div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div th:replace="replace::pageTitle('連絡事項')"></div>
				<br>
				<a th:href="@{/messagePost}"><input class="btn btn-primary shadow my-4" type="button" value="連絡事項を投稿する"></a>
				<!-- <div th:if="${noConfirm != true}">
					<form th:action="messageList" method="post">
						<input class="btn btn-warning shadow my-2" type="submit" value="未確認のものだけ表示">
					</form>
				</div>
				<div th:if="${noConfirm == true}">
					<form th:action="messageList" method="get">
						<input class="btn btn-warning shadow my-2" type="submit" value="全て表示">
					</form>
				</div> -->
				<br>
				<input id="btnText" class="btn btn-warning shadow my-2" type="button" value="未確認のものだけ表示" onclick="changeOnlyNoConfirm()">
			</div>
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-bordered table-hover mt-4">
					<thead>
						<tr>
							<th>連絡日時</th><th>連絡者</th><th>内容</th><th>確認</th><th></th>
						</tr>
					</thead>
					<tbody id="messages">
						<tr th:inline="text" th:each="message: ${messageList}" th:object="${message}">
							<td>[[*{#calendars.format(contactDate, 'yyyy年M月d日 k時m分s秒')}]]</td>
							<td>[[*{contactName}]]</td>
							<td>
								<th:block th:if=*{message}>
									<th:block th:each="oneLineMessage, messageZone : *{message.split('\r\n|\r|\n', -1)}">
										<div th:if="${messageZone.first}">
											<div class="textShort"><th:block>[[${oneLineMessage}]]</th:block></div>
										</div>
										<div th:if="${!messageZone.first}" class="d-none"></div>
									</th:block>
								</th:block>
							</td>
							<td>[[*{confirm}]]</td>
							<td>
								<a th:href="@{/messageDetail(messageId=*{id})}">
									<input class="btn btn-success btn-sm shadow w-100" type="button" value="詳細">
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div th:if="${noMessage == true}">
					<div class="h5">現在連絡事項はありません。</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12"><a th:href="@{/index}"><input class="btn btn-secondary shadow my-5" type="button" value="戻る"></a></div>
		</div>
	</div>
</body>
</html>