<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>削除社員</p>
	<p>こちらの社員を一覧から削除しますか？</p>
	<div th:inline="text" th:each="employee: ${employeeData}" th:object="${employee}">
		<p>氏名：[[*{familyName}]][[*{firstName}]]</p>
		<p>読み：[[*{familyNameRuby}]][[*{firstNameRuby}]]</p>
		<p>年齢：[[*{age}]]歳</p>
		<p>所属部署：[[*{department}]]</p>  <!-- 所属部署と役職が数字で保存されているため名前表示に戻す必要あり -->
		<p>役職：[[*{position}]]</p>
		<p>入社日時：[[*{#calendars.format(joinDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
		<form th:action="@{/employeeDelete}" method="post">
			<input type="hidden" name="employeeId" th:value="*{id}">
			<input type="submit" value="削除する(戻せません！)">
		</form>
	</div>
	<br>
	<a th:href="@{/employeeList}"><input type="button" value="戻る"></a>
</body>
</html>