<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('社員登録')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">社員登録</div>
			</div>
			<div class="col-md-3 col-xs-1"></div>
			<div class="col-md-6 col-xs-10">
				<form th:action="@{/employeeCreate}" th:object="${employeeCreateData}" method="post">
					<div class="row">
						<div th:if="${nameCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('氏名を入力してください。')"></div>
						</div>
						<div class="col-md-2 col-xs-12 text-left my-1">氏名</div>
						<div class="col-md-10 col-xs-12 text-right my-1">
							<input type="text" name="familyName" placeholder="姓" autofocus>
							<input class="ml-2" type="text" name="firstName" placeholder="名">
						</div>
						<div class="col-md-2 col-xs-12 text-left my-1">読み</div>
						<div class="col-md-10 col-xs-12 text-right my-1">
							<input type="text" name="familyNameRuby" placeholder="セイ">
							<input class="ml-2" type="text" name="firstNameRuby" placeholder="メイ">
						</div>
						<div th:if="${ageCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('年齢を入力してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">年齢</div>
						<div class="col-md-6 col-xs-12 text-right my-1">
							<select name="age"><option th:replace="replace::selectAge"></select>歳
						</div>
						<div th:if="${departmentCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('所属部署を選択してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">所属部署</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><span th:replace="replace::selectDepartment"></span></div>
						<div th:if="${positionCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('役職を選択してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">役職</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><span th:replace="replace::selectPosition"></span></div>
						<div th:if="${loginIdCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('ログインIDを入力してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">ログインID</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><input type="text" name="loginId" placeholder="ログインID"></div>
						<div th:if="${passNullCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('パスワードを両方入力してください。')"></div>
						</div>
						<div th:if="${passwordCheck == true}" class="col-12 mt-4">
							<div th:replace="replace::entryErr('パスワードは同じものを入力してください。')"></div>
						</div>
						<div class="col-md-6 col-xs-12 text-left my-1">パスワード</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><input type="password" name="pass1" placeholder="パスワード"></div>
						<div class="col-md-6 col-xs-12 text-left my-1">パスワード(確認)</div>
						<div class="col-md-6 col-xs-12 text-right my-1"><input type="password" name="pass2" placeholder="パスワード"></div>
					</div>
					<input class="btn btn-primary shadow my-4" type="submit" value="登録">
				</form>
				<a th:href="@{/login}"><input class="btn btn-success shadow mb-5" type="button" value="戻る"></a>
			</div>
			<div class="col-md-3 col-xs-1"></div>
		</div>
	</div>
</body>
</html>