<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('社員削除')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">社員削除</div>
				<div class="mt-4">こちらの社員を一覧から削除しますか？</div>
			</div>
			<div class="col-3"></div>
			<div class="col-6">
				<div th:inline="text" th:each="employee: ${employeeData}" th:object="${employee}">
					<div class="row">
						<div class="col-6 text-left my-1">氏名</div>
						<div class="col-6 text-right my-1">[[*{name}]]</div>
						<div class="col-6 text-left my-1">読み</div>
						<div class="col-6 text-right my-1">[[*{nameRuby}]]</div>
						<div class="col-6 text-left my-1">年齢</div>
						<div class="col-6 text-right my-1">[[*{age}]]歳</div>
						<div class="col-6 text-left my-1">所属部署</div>
						<div class="col-6 text-right my-1">[[*{department}]]</div>
						<div class="col-6 text-left my-1">役職</div>
						<div class="col-6 text-right my-1">[[*{position}]]</div>
						<div class="col-6 text-left my-1">入社日時</div>
						<div class="col-6 text-right my-1">[[*{#calendars.format(joinDate, 'yyyy年M月d日 k時m分s秒')}]]</div>
						<div class="col-12">
							<form th:action="@{/employeeDelete}" method="post">
								<input type="hidden" name="employeeId" th:value="*{id}">
								<input class="btn btn-danger shadow mt-5" type="submit" value="削除する(戻せません！)">
							</form>
							<a th:href="@{/employeeDetail(employeeId=*{id})}"><input class="btn btn-secondary shadow my-4" type="button" value="戻る"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>