<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('社員一覧')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">社員一覧</div>
				<br>
				<div th:if="${employeeDelete == true}">社員を削除しました。</div>
			</div>
			<div class="col-3"></div>
			<div class="col-6">
				<form th:action="@{/employeeListRefine}" method="post">
					<p>絞り込み</p>
					<p>名前(全角カナ)：
						<input type="text" name="refineFamilyName" placeholder="絞り込む姓"><input type="text" name="refineFirstName" placeholder="絞り込む名">
					</p>
					<div th:if="${ageCheck == true}" class="col-12 mt-4">
						<div th:replace="replace::entryErr('年齢を入力してください。')"></div>
					</div>
					<p>年齢(半角数字)：
						<input type="text" name="refineAgeMin" placeholder="年齢の下限"> 〜 <input type="text" name="refineAgeMax" placeholder="年齢の上限">
					</p>
					<p>所属部署：<span th:replace="replace::selectDepartment"></span></p>
					<p>役職：<span th:replace="replace::selectPosition"></span></p>
					<p class="my-4"><input class="btn btn-primary shadow" type="submit" value="絞り込む"></p>
				</form>
			</div>
			<div class="col-3"></div>
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-bordered table-hover">
					<tr>
						<th>氏名</th><th>読み</th><th>年齢</th><th>所属部署</th><th>役職</th><th>入社日時</th><th th:if="${isAdmin == true}"></th>
					</tr>
					<tr th:inline="text" th:each="employee: ${employeeList}" th:object="${employee}">
						<td>[[*{familyName}]][[*{firstName}]]</td>
						<td>[[*{familyNameRuby}]][[*{firstNameRuby}]]</td>
						<td>[[*{age}]]歳</td>
						<td>[[*{department}]]</td>
						<td>[[*{position}]]</td>
						<td>[[*{#calendars.format(joinDate, 'yyyy年M月d日 k時m分s秒')}]]</td>
						<td th:if="${isAdmin == true}">
							<a th:href="@{/employeeDelete(employeeId=*{id})}"><input class="btn btn-danger shadow" type="button" value="削除"></a>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-1"></div>
			<div class="col-12"><a th:href="@{/index}"><input class="btn btn-secondary shadow" type="button" value="戻る"></a></div>
		</div>
	</div>
</body>
</html>