<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('目次')"></head>
<body>
	<div th:replace="replace::header"></div>
	<div class="container">
		<div class="row indexColumn">
			<div class="col-12">
				<div class="h1 mt-5">目次</div>
				<div th:replace="replace::msg"></div>
			</div>
			<div class="col-md-4 col-xs-12 bg-info indexLinkArea">
				<a class="indexLink indexWorkTime" th:href="@{/workTimeCheck}"><span class="h1 text-light indexLinkContent">出退勤管理</span></a>
			</div>
			<div class="col-md-4 col-xs-12 bg-success indexLinkArea">
				<a class="indexLink indexProduct" th:href="@{/productList}"><span class="h1 text-light indexLinkContent">商品管理</span></a>
			</div>
			<div class="col-md-4 col-xs-12 bg-warning indexLinkArea">
				<a class="indexLink indexEmployee" th:href="@{/employeeList}"><span class="h1 text-dark indexLinkContent">社員一覧</span></a>
			</div>
			<div class="col-12 my-5">
				<a th:href="@{/logout}"><input class="btn btn-secondary shadow" type="button" value="ログアウト"></a>
			</div>
		</div>
	</div>
</body>
</html>