<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('商品情報更新')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">商品情報更新</div>
				<div th:replace="replace::msg"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-10">
				<div th:inline="text" th:each="product: ${productDetail}" th:object="${product}">
					<div class="row">
						<div class="col-3"></div>
						<div class="col-6">
							<form th:action="@{/productUpdate}" method="post">
								<div class="row">
									<div th:if="${nameCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('商品名を入力してください。')"></div>
									</div>
									<div class="col-2 text-left my-1">商品名</div>
									<div class="col-10 text-right my-1"><input type="text" name="name" size="60" th:value=*{name} placeholder="商品名"></div>
									<div th:if="${placeCheck == true}" class="col-12 mt-4">
										<div th:replace="replace::entryErr('管理場所を選択してください。')"></div>
									</div>
									<div class="col-6 text-left my-1">管理場所</div>
									<div class="col-6 text-right my-1">
										<select name="place">
											<option value="未選択">未選択</option>
											<option value="A1">A1</option>
											<option value="A2">A2</option>
											<option value="B1">B1</option>
											<option value="B2">B2</option>
											<option value="C1">C1</option>
											<option value="C2">C2</option>
											<option value="D1">D1</option>
											<option value="D2">D2</option>
										</select>
									</div>
									<div class="col-12">
										<input class="btn btn-primary shadow mt-5" type="submit" value="更新">
										<br>
										<a th:href="@{/productDetail(productId=*{id})}">
											<input class="btn btn-secondary shadow my-5" type="button" value="戻る">
										</a>
									</div>
									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>