<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* head */-->
<head th:fragment="head(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/original/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/original/index.css}">
	<script type="text/javascript" th:src="@{webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	
	<title th:text="${title} + ' | 業務システム'"></title>
</head>
<body>
	<!--/* メッセージ */-->
	<div th:fragment="msg">
		<div th:if="${msg}">
			<div class="alert alert-danger alert-dismissible w-100 text-center rounded-0 fade show">
				<div th:text="${msg}"></div>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		</div>
	</div>
	
	<!--/* 入力エラー */-->
	<div th:fragment="entryErr(err)">
		<div class="alert alert-danger alert-dismissible w-100 rounded-0">
			<div th:text="${err}"></div>
		</div>
	</div>
	
	<!--/* 年齢選択 */-->
	<span th:fragment="selectAge">
		<option value="0">-</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="23">23</option>
		<option value="24">24</option>
		<option value="25">25</option>
		<option value="26">26</option>
		<option value="27">27</option>
		<option value="28">28</option>
		<option value="29">29</option>
		<option value="30">30</option>
		<option value="31">31</option>
		<option value="32">32</option>
		<option value="33">33</option>
		<option value="34">34</option>
		<option value="35">35</option>
		<option value="36">36</option>
		<option value="37">37</option>
		<option value="38">38</option>
		<option value="39">39</option>
		<option value="40">40</option>
		<option value="41">41</option>
		<option value="42">42</option>
		<option value="43">43</option>
		<option value="44">44</option>
		<option value="45">45</option>
		<option value="46">46</option>
		<option value="47">47</option>
		<option value="48">48</option>
		<option value="49">49</option>
		<option value="50">50</option>
		<option value="51">51</option>
		<option value="52">52</option>
		<option value="53">53</option>
		<option value="54">54</option>
		<option value="55">55</option>
		<option value="56">56</option>
		<option value="57">57</option>
		<option value="58">58</option>
		<option value="59">59</option>
		<option value="60">60</option>
		<option value="61">61</option>
		<option value="62">62</option>
		<option value="63">63</option>
		<option value="64">64</option>
		<option value="65">65</option>
	</span>
	<!--/* 所属部署選択 */-->
	<span th:fragment="selectDepartment">
		<select name="department">
			<option value="未選択">未選択</option>
			<option value="経営部">経営部</option>
			<option value="営業部">営業部</option>
			<option value="製造部">製造部</option>
			<option value="経理部">経理部</option>
			<option value="人事部">人事部</option>
		</select>
	</span>
	<!--/* 役職選択 */-->
	<span th:fragment="selectPosition">
		<select name="position">
			<option value="未選択">未選択</option>
			<option value="社長">社長</option>
			<option value="副社長">副社長</option>
			<option value="専務">専務</option>
			<option value="常務">常務</option>
			<option value="部長">部長</option>
			<option value="課長">課長</option>
			<option value="一般">一般</option>
		</select>
	</span>
</body>
</html>