<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head('出退勤管理')"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 mt-5">出退勤管理</div>
			</div>
			<div th:if="${beginWorking == true}" class="col-12 mt-4">
				<div th:replace="replace::entryErr('おはようございます。')"></div>
			</div>
			<div th:if="${finishWorking == true}" class="col-12 mt-4">
				<div th:replace="replace::entryErr('お疲れ様でした。')"></div>
			</div>
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>氏名</th><th>読み</th><th>年齢</th><th>所属部署</th><th>役職</th><th>出退勤</th>
						</tr>
					</thead>
					<tbody>
						<tr th:inline="text" th:each="employee: ${employeeList}" th:object="${employee}">
							<td>[[*{familyName}]][[*{firstName}]]</td>
							<td>[[*{familyNameRuby}]][[*{firstNameRuby}]]</td>
							<td>[[*{age}]]歳</td>
							<td>[[*{department}]]</td>
							<td>[[*{position}]]</td>
							<td>
								<form th:action="@{workTimeCheck}" method="post">
									<input type="hidden" name="familyName" th:value="*{familyName}">
									<input type="hidden" name="firstName" th:value="*{firstName}">
									<div th:if="*{working == 0}">
										<input type="hidden" name="time" value="begin">
										<input class="btn btn-info btn-sm shadow w-100" type="submit" value="出勤">
									</div>
									<div th:if="*{working == 1}">
										<input type="hidden" name="time" value="finish">
										<input class="btn btn-warning btn-sm shadow w-100" type="submit" value="退勤">
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<div th:if="${isAdmin == true}">
					<div class="row">
						<div class="col-12 my-4">
							<form th:action="@{/workTimeCheck}" method="get">
								確認したい日付を選択してください：
								<input type="date" name="strDate"><input class="btn btn-primary shadow" type="submit" value="選択">
							</form>
						</div>
						<div class="col-12 h4" th:inline="text">[[${#calendars.format(workDate, 'yyyy年M月d日')}]]の出退勤状態</div>
					</div>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>日付</th><th>社員</th><th>出勤時刻</th><th>退勤時刻</th>
							</tr>
						</thead>
						<tbody>
							<tr th:inline="text" th:each="workTime: ${workTimeList}" th:object="${workTime}">
								<td>[[*{workDate}]]</td>
								<td>[[*{familyName}]][[*{firstName}]]</td>
								<td>[[*{beginTime}]]</td>
								<td th:if="*{finishTime != null}">[[*{finishTime}]]</td>
								<td th:if="*{finishTime == null}">就業中</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-1"></div>
			<div class="col-12 my-4"><a th:href="@{/index}"><input class="btn btn-secondary shadow" type="button" value="戻る"></a></div>
		</div>
	</div>
</body>
</html>